.archive {
    max-width: 500px;
    margin: 5em auto;
    .archive-year {
        font-size: 2em;
    }
    .post-item {
        padding: 1.5em 0;
    }
    .post-time,
    .post-title-link {
        font-size: 1rem;
    }
    .post-title-link {
        display: block;
        margin-left: 125px;
        word-break: break-all;
        &:hover {
            border-bottom: 0;
            color: #999;
        }
    }
    .post-info {
        float: left;
        width: 125px;
        color: #7f8c8d;
    }
}