::selection {
    color: #FFFFFF;
    background-color:  #34495e;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    color: #34495e;
    font-size: 15px;
    line-height: 1.6;
    background-color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-weight: 500;
}

ul.nav,
ul.post-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul {
    margin: 1rem 0;
}

a, a:active {
    color: #2c3e50;
    text-decoration: none;
}

a.nav-list-link{
    padding: 4px 8px;
    border-radius: 4px;
}

a.nav-list-link.active{
    background-color: #2c3e50;
    color: #fff;
    box-sizing: border-box;
}
a.nav-list-link:hover{
    background-color: #2c3e50;
    color: #fff;
    transition: 0.3s;
}
a.post-title-link:hover {
    opacity: 0.8;
}

hr {
    border: 0;
}

code {
    margin: 0 2px;
    padding: 3px 5px;
    color: #24292e;
    border-radius: 2px;
    white-space: inherit;
    word-wrap: break-word;
}

iframe, video {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

p > a{
    text-decoration: underline;
    font-weight: bold;
    &:hover{
        opacity: 0.7;
    }
}

table {
    width: 100%;
    margin: 1em auto;
    thead {
        background-color: #ddd;
        th {
            padding: 5px;
            min-width: 20px;
        }
    }
    tbody {
        tr:nth-child(2n) {
            background-color: #eee;
        }
        td {
            padding: 5px;
            vertical-align: text-top;
        }
    }
}
