footer {
    overflow: auto;
    .copyright {
        margin: 4em 0;
        border-top: 1px solid #ddd;
        p, a {
            color: #aaa;
            font-size: 14px;
            font-weight: 350;
            letter-spacing: 0.08em;
        }
        a:hover {
            color: #888;
        }
    }
}
