.paginator {
    margin: 4em 0;
    height: 32px;
    .prev{
        float: left;
    }
    .next{
        float: right;
    }
    .prev, .next {
        margin: 0 10px;
        font-size: 14px;
        color: #999;
        &:hover {
            border-bottom: 2px solid #999;
        }
    }
}

.ds-thread,
#disqus_thread {
    margin-bottom: 2em;
}