.paginator {
    margin: 4em 0;
    height: 40px;
    .prev{
        float: left;
    }
    .next{
        float: right;
    }
    .prev, .next {
        margin: 0 10px;
        font-size: 14px;
        color:#2c3e50;
        line-height: 40px;
        padding: 0 10px;
        font-weight: bold;
        border-radius: 20px;
        overflow: hidden;
        &:hover {
        background-color: #2c3e50;
        color: #fff;
        transition: 0.3s;
        }
    }
}

.ds-thread,
#disqus_thread {
    margin-bottom: 2em;
}