header {
    min-height: 60px;

    #busuanzi_container_site_pv,#busuanzi_container_site_uv{
        display: none!important;
        opacity: 0;
        color: transparent;
    }

    .logo-link {
        float: left;
    }

    .nav {
        float: right;
        left: 80px;
    }

    .logo-link img {
        height: 60px;
    }

    .nav-list-item {
        display: inline-block;
        padding: 10px  4px ;
        a {
            font-size: 16px;
            line-height: 1.4;
        }
    }
}
